@import url('https://fonts.googleapis.com/css?family=Sacramento');

#card {
  height: 500px;
  width: 800px;
  margin: 5em auto;
  position: fixed;
  top: -15px;
  left: 23%;
  display: flex;
  visibility: hidden;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  #card {
    width: 90%; /* Reducir el ancho para dispositivos móviles */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    margin: 2em auto; /* Ajustar el margen */
    position: static; /* Cambiar la posición a estática para que no sea fija */
    visibility: none; /* Hacer que el elemento sea visible */
    top: 50px;
 
  }
  .side.side.one {
    display: none; 
  }

  .side.side.two {
    /* display: none;  */
    transform: translate(0%, 10%);

  }
  #card p {
    padding-left: 0 !important; /* Eliminar el relleno a la izquierda en dispositivos móviles */
    padding-right: 0 !important; /* Eliminar el relleno a la derecha en dispositivos móviles */
    font-size: 1.2em !important;
  }
  
    .valentines-day {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(10%, -30%);
  }

  .reset{
    transform: translate(80%, -30%);
  }
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card h2 {
   font-size:2em;
   margin:0;
   color:#EF4040;
   text-align: center;
}


#card p {
   font-size: 1.351em;
   text-align: justify;
   padding-left: 30px; /* Espacio en blanco a la izquierda */
   padding-right: 30px; /* Espacio en blanco a la derecha */
}


.side {
   background:#eee;
   height:550px;
   width:400px;
   padding:10px;
}
.side.one {
   width:320px;
   transform:skew(10deg,20deg);
   background:linear-gradient(90deg, #fff, #fff 40%, #ddd);
   display: flex; /* Utiliza flexbox para centrar el corazón verticalmente */
   justify-content: center; /* Centra horizontalmente el contenido */
   align-items: center; /* Centra verticalmente el contenido */
   transform: skew(10deg, 20deg);
   position: relative;
   overflow: hidden;
}
.side.two {
   transform:skew(10deg,-15deg);
   background:linear-gradient(-90deg, #fff, #fff 40%, #f0f0f0);
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   font-family: 'Sacramento', cursive;
   background-color: #f1e3d3;
   overflow: hidden;
 }
 
 .valentines-day {
   position: relative;
   filter: drop-shadow(0 0 25px rgba(0,0,0,.3));
 }
 
 
 .envelope {
   position: relative;
   filter: drop-shadow(0 0 0px rgba(0,0,0,.3));
   z-index: 10;
 }
 
 .envelope:before {
   content:"";
   position: absolute;
   width:0;
   height:0;
   border-left: 180px solid transparent; /* half of 254px */
   border-right: 180px solid transparent; 
   border-top: 200px solid #ff9999;
   /* background-color: #ff9494;*/
   transform-origin: top; 
   left:-90px;
   top: -22px;
 }
 
 .open .envelope:before{
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
}
.open .envelope{
  z-index: -1;
  transition: transform 0.4s ease, z-index 0.6s;

}
 
 .envelope2:after {
  filter: drop-shadow(0 0 0px rgba(0,0,0,.3));
   content:"";
   position: absolute;
   background-color: #ff9999;
   width:360px;
   height:290px;
   left:-90px;
   top:-22px;
 }
 
 .heart {
   position: relative;
   background-color: #e01911;
   display: inline-block;
   height: 180px;
   top:50px;
   left:0;
   transform: rotate(-45deg);
   width:180px;
   filter: drop-shadow(0 0px 1px rgba(0,0,0,.3));
   transition: .5s;
   z-index: 2;
 }
   
 .heart:before, .heart:after {
   content:"";
   background-color: #e01911;
   border-radius:50%;
   height: 180px;
   width: 180px;
   position: absolute;
   }
   
 .heart:before {
   top:-100px;
   left:0;}
   
 .heart:after {
   left:100px;
   top:0;}
 
 .front {
   position: absolute;
   width:0;
   height:0;
   border-right: 190px solid #fbd2d2;
   border-top: 145px solid transparent;
   border-bottom: 145px solid transparent;
   top:-22px;
   left:80px;
   z-index:4;
 }
 
 .front:before {
   content:"";
   position: absolute;
   width:0;
   height:0;
   border-left: 190px solid #fbd2d2;
   border-top: 145px solid transparent;
   border-bottom: 145px solid transparent;
   top:-145px;
   left:-170px;
 }
 
 .front:after {
   width:0;
   height:0;
   position: absolute;
   content:"";
   border-bottom: 165px solid #fce7e9;
   border-right:180px solid transparent;
   border-left: 180px solid transparent;
   top:-20px;
   left:-170px;
 }
 
 .text {
   position: absolute;
   font-family: arial;
   letter-spacing:5px;
   text-align: center;
   color: white;
   z-index:2;
   top:80px;
   left:15px;
   transition: .5s;
 }

 .open{
  cursor: pointer;
 }
.open.valentines-day:hover .heart {
   transform: translateY(-60px) rotate(-45deg);
 }
 
 .open.valentines-day:hover .text {
   transform: translateY(-80px);
 }
 
 

.side.one .fa-heart {
  font-size: 8em;
  color: red;
  animation: pulseHeart 1s ease-in-out infinite alternate;
  cursor: default;
}

@keyframes pulseHeart {
  0% {
     transform: scale(1);
  }
  100% {
     transform: scale(1.2);
  }
}


.made-with-love {
  position: fixed;
  left: 0;
  width: 100%;
  top: 15PX; /* Cambiado de "bottom: 10px;" a "top: 0;" */
  text-align: center;
  font-size: 10px;
  z-index: 9999;
  font-family: arial;
  color: #e06ae0;
  font-weight: 600;
}
.made-with-love i {
  font-style: normal;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #c74f2b;
  text-decoration: none;

  
}
.made-with-love a:hover {
  text-decoration: underline;
}
.made-with-love .dribble img {
  max-width: 100%;
  width: 26px;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

.made-with-love a {
  font-weight: bold; /* Añadiendo negrita solo a los enlaces */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  #card {
      width: 90%;
      max-width: 90%;
      margin: 2em auto;
  }
  
  .side {
      width: 90%;
      max-width: 90%;
      margin: 0 auto;
  }

  .text {
      font-size: 1em; /* Ajuste del tamaño de fuente */
  }
}


.reset {
   position: relative;
   top: 110px;
   text-align: center;
}

.reset button {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 2px #ff5757;
  border-radius: 4px;
  color: #ff5757;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  min-width: 120px;
  cursor: pointer;
}

.reset button:hover {
  background-color: #fc9d9d;
  color: #a10000;
}

.hearts {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  z-index: 3;
}

.hert {
  position: absolute;
  bottom: 0;
  right: 10%;
  pointer-events: none;
}

.hert:before,
.hert:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #D00000;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  pointer-events: none;
}

.hert:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.close .hert {
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}

.a1 {
  left: 20%;
  transform: scale(0.6);
  opacity: 1;
  -webkit-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.a2 {
  left: 55%;
  transform: scale(1);
  opacity: 1;
  -webkit-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.a3 {
  left: 10%;
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@-webkit-keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
